body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: grey;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
}

.header h3{
    padding: 0;
}